.nav,
.nav-click {
  display: flex;
  flex-direction: column;
  margin: 30px;

  .options {
    display: flex;
    flex-direction: column;
    background: white;

    .option {
      text-decoration: none;
      background-color: white;
      color: black;
    }
  }
}

.nav {
  display: flex;
  height: 50px;
  z-index: 150;
  top: 0;
  position: fixed;

  .hamburger-icon {
    fill: white;
    filter: drop-shadow(2px 2px 6px black);
    transition: 1s;
  }
}

.nav-click {
  display: flex;
  z-index: 150;
  top: 0;
  position: fixed;

  .hamburger-icon {
    fill: black;
    filter: drop-shadow(2px 2px 6px white);
    transition: 1s;
  }
}
