// Make it stick to the bottom!
//  https://css-tricks.com/couple-takes-sticky-footer/

.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  background: black;
  color: white;
  padding: 20px;

  .column {
    display: flex;
    flex-direction: column;
  }

  .menu {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .option {
      text-decoration: none;
      color: white;
    }
  }
}
