// Make it stick to the bottom!
//  https://css-tricks.com/couple-takes-sticky-footer/

.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  flex-shrink: 0;

  .column {
    padding: 20px;
  }

  .menu {
    display: flex;
    flex-direction: column;
  }
}
