.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 150;
  top: 0;
  position: fixed;
  color: grey;

  .logo {
    height: 60px;
    width: auto;
    fill: white;
    margin: 10px;
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .option {
      padding: 15px;
      cursor: pointer;
      color: grey;
      text-decoration: none;
      transition: 1s;

      &:hover {
        color: white;
        background-color: black;
      }
    }
  }
}
