.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 150;
  position: fixed;
  color: white;

  .logo {
    height: 60px;
    width: auto;
    fill: white;
    margin: 10px;
  }

  .options {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    background-color: black;
    color: white;

    .option {
      padding: 15px;
      cursor: pointer;
      color: white;
      text-decoration: none;
      transition: 1s;

      &:hover {
        color: black;
        background-color: white;
      }
    }
  }
}
